body {
  font-family: 'open sans', sans-serif;
  height: 2000px;
}

/* font-family: "FuturaLTW01-Medium"; */
/* font-family: 'Libre Franklin', sans-serif; */
/* -------------------- Media Query -------------------- */

@media (max-width: 767px) {

  /* Mobil & Tablet */
  .visible-xs {
    display: block !important
  }

  .hidden-xs {
    display: none !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* Small screen Rules */
  .container {
    width: 750px;
  }

  .visible-sm {
    display: block !important
  }

  .hidden-sm {
    display: none !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  /* Medium screen Rules */
  .container {
    width: 970px;
  }

  .visible-md {
    display: block !important
  }

  .hidden-md {
    display: none !important
  }
}

@media (min-width: 1200px) {

  /* Large screen Rules */
  .container {
    width: 1170px;
  }

  .visible-lg {
    display: block !important
  }

  .hidden-lg {
    display: none !important
  }
}

/* -------------------- Media Query -------------------- */
/* -------------------- My Framework ------------------- */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none;
}

body {
  background-color: #b03032;
}

.head_red,
.head_white {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  color: #B03032;
  margin: 0;
}

.head_white {
  color: #fff;
}

.head_card {
  font-size: 22px;
  color: #B03032;
  margin: 25px auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 70%;
}

.general_btn {
  border: none;
  border-radius: 5px;
  padding: 6px 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease-in-out;
}

.btn_red {
  display: block;
  width: 70%;
  margin: auto;
  background-color: #b03032;
  color: #fff;
  transition: all .3s ease-in-out;
}

.btn_red:hover {
  background-color: rgba(0, 53, 72, 1);
  color: #A1DCF2;
}

/* -------------------- My Framework ------------------- */