
/* ----- Header Styles ----- */
header {
  background: url('../img/h-Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

header .logo_header {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  header {
    height: 400px;
  }

  header .logo_header {
    height: 100%;
    align-items: center;
  }
}

/* sidebar for mobile */
.sidebar_icon {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: 24px;
  color: #D40E3F;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  background-color: #D71144;
}

.sidebar ul {
  margin-top: 70px;
}

.sidebar li.sidebar_link {
  padding: 10px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 200;
}

.sidebar .sidebar_active {
  color: #000000;
}

/* ----- Navbar Styles ----- */
.navbar {
  background-color: #b03032;
  margin: 0;
  padding: 0;
}

.navbar ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* rgba(176, 48, 50, 1) */
.navbar .nav_link {
  width: 24%;
  float: left;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  background-color: #b03032;
  transition: all .2s ease-in-out;
}


.navbar .nav_link:hover {
  background-color: #902b2d;
}

.navbar .nav_link a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease-in-out;
}

.navbar .active_link {
  background-color: #000000;
}

.navbar .nav_link:nth-of-type(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.navbar .nav_link:nth-of-type(3) {
  border-right: 1px solid #fff;
}

/* ----- Our Developments Styles ----- */
.developments {
  background-color: #ffffff;
  padding: 40px 0;
}

.card_place {
  margin: 40px 0;
}

.image_card {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 1);
  border: 5px solid rgba(255, 255, 255, 1);
  transition: all .2s ease-in-out;
}

.image_card:hover {
  opacity: .6;
}

.head_fix_m {
  margin: 10px auto;
}

@media (max-width: 767px) {

  .developments .btn_red,
  .developments .head_fix_m {
    width: 55%;
  }

}

/*  */
.family_logos {
  padding: 40px 0;
}

.family_logos .row {
  width: 80%;
  margin: auto;
}

.head_white {
  margin-bottom: 10px;
}

.family_logos .col-sm-4,
.family_logos .col-6 {
  padding-right: 12px;
  padding-left: 10px;
}

.family_logos .family_img {
  background-color: #fff;
  margin: 10px 0;
  transition: all .2s ease-in-out;
}

.family_logos .family_img:hover img {
  opacity: .6;
}